p {
    font-size: 1.5rem;
 }
 
 .alex {background-image: url(Images/alex.png);}
 
 .alex:hover {background-image: url(Images/alex-bg.png);}
 
 .anida {background-image: url(Images/anida.png);}
 
 .anida:hover {background-image: url(Images/anida-bg.png);}
 
 .dmitri {background-image: url(Images/dmitri.png);}
 
 .dmitri:hover {background-image: url(Images/dmitri-bg.png);}
 
 .gkisedtanamoogk {background-image: url(Images/gkisedtanamoogk.png);}
 
 .gkisedtanamoogk:hover {background-image: url(Images/gkisedtanamoogk-bg.png);}
 
 .hope {background-image: url(Images/hope.png);}
 
 .hope:hover {background-image: url(Images/hope-bg.png);}
 
.kevin {background-image: url(Images/kevin.png);}
 
.kevin:hover {background-image: url(Images/kevin-bg.png);}
 
.sheny {background-image: url(Images/sheny.png);}
 
.sheny:hover {background-image: url(Images/sheny-bg.png);}
 
.solomon {background-image: url(Images/solomon.png);}
 
.solomon:hover {background-image: url(Images/solomon-bg.png);}
 
.wendy {background-image: url(Images/wendy.png);}
 
.wendy:hover {background-image: url(Images/wendy-bg.png);}

.profiles {
    width: 300px;
    height: 300px;
    margin: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    color: transparent;
    font-size: 1.8rem;
  }

.profiles:hover {
    border-radius: 25px;
    color: black;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
 
 /* ---------- About Background ---------- */
 
 main.content-pages {
    background-size: 100%;
  }
 
  @media screen and (max-width: 1200px) {
    main.content-pages {
      background-image: none;
    }
  }
 